

<br>

<button class="MyButton" title="Powrot na góre">Góra</button>





<div class="container-fluid">
  <br> <br>
  <div class="row">
    <div class="col-sm-7 ">
      <p style="color: cyan;">
        <span style="color: green;"> John Ronald Reuel Tolkien, J.R.R. Tolkien </span>, ur. 3 stycznia 1892 w Bloemfontein w Oranii, zm. 2 września 1973 w Bournemouth) –
        brytyjski pisarz oraz profesor filologii klasycznej i literatury staroangielskiej na Uniwersytecie Oksfordzkim. Jako autor powieści Władca Pierścieni,
        której akcja rozgrywa się w mitycznym świecie Śródziemia, spopularyzował literaturę fantasy.

        Jest autorem wielu opowieści rozgrywających się w Śródziemiu: powieści Hobbit, czyli tam i z powrotem, Władca Pierścieni, Silmarillion
        (nieuporządkowanego jako spójna całość narracyjna przez Ronalda – książkę przygotował do druku jego syn Christopher) oraz kilku opowiadań
        niezwiązanych lub luźno związanych z tak zwanym legendarium Śródziemia (zawartym w 12-tomowej
        History of the Middle-earth, opracowanej i wydanej przez Christophera Tolkiena).
      </p>
    </div>
    <div class="col-sm-5">

      <div class="obrazek img-thumbnail" title="zdjecie"></div>

    </div>
  </div>
</div>


