


form{

  display:block;
  color:cyan;

}
fieldset{

  width:70%;
  margin-left: 3%;
  margin-bottom: 1%;
  padding: 25px;
  border-radius: 3px;
  background-color: black;
  border: 5px solid darkgreen;


}
legend{
  margin-top: 15%;
  margin-bottom: 1%;
}
.row{
  margin-right: 0px;
  margin-left: 0px;

}
.contactpicture{


  background: url("../../../assets/contact.png");
  width: 531px;
  height: 767px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  margin-top: 3%;
  margin-left: 15%;

}



#name{

  display: block;
  padding-right: 200px;
  margin-bottom: 1%;
}

#surname{

  display: block;
  padding-right: 200px;
  margin-bottom: 1%;
}
#email{

  display: block;
  padding-right: 200px;
  margin-bottom: 1%;
}


#man{

  display: inline;
  padding-right: 200px;
  margin-bottom: 1%;
}

#woman{

  display: inline;
  padding-right: 200px;
  margin-bottom: 1%;
}

textarea{

  display: block;
  padding-right: 185px;
  padding-bottom: 50px;
  margin-bottom: 1%;
}
.correct3{

  margin-right: 20px;
  display: block;
  margin-bottom: 1%;
}



#maritial{

  display: inline;
  padding-right: 258px;
  margin-bottom: 1%;
}

.buttons_placeing{

  display: inline;
  padding-right: 258px;
  margin-bottom: 1%;
}

.is-invalid{

  border: solid 3px orangered;

}

.is-valid{

  border: solid 3px lightgreen;

}
