
body {


  background-color: black;
  background-image:  url("/assets/pagesymbol.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1px 1px 2200px;
}




.MyButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 45px;
  z-index: 99;
  font-size: 14px;
  border: solid;
  outline: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 14px;
  border-radius: 4px;
}

.MyButton:hover {
  background-color: green;
}




